<!DOCTYPE html>
<html data-is-login="<%= user_signed_in? %>" <% if user_signed_in? %> data-user-id=<%= current_user[:id] %> <% end %> >
  <head>
    <title>42 Pong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "spa/backboneTemplates/friendsList"%>
    <%= render "spa/backboneTemplates/searchedUsersModal"%>
    <%= render "spa/backboneTemplates/profile/profileContent"%>
    
		<%= render "spa/backboneTemplates/tournamentsList"%>
    <%= render "spa/backboneTemplates/guildContent"%>
    <%= render "spa/backboneTemplates/login"%>
    <%= render "spa/backboneTemplates/navbarItems"%>
    <%= render "spa/backboneTemplates/navbarUser"%>
    <%= render "spa/backboneTemplates/userInfoModal"%>
    <%= render "spa/backboneTemplates/chat/chat" %>
    <%= render "spa/backboneTemplates/chat/messages" %>
    <%= render "spa/backboneTemplates/chat/members" %>
    <%= render "spa/backboneTemplates/channel/channelsList" %>
    <%= render "spa/backboneTemplates/channel/chat" %>
    <%= render "spa/backboneTemplates/channel/messages" %>
    <%= render "spa/backboneTemplates/channel/members" %>
    <%= render "spa/backboneTemplates/channel/foundChannelList" %>
    <%= render "spa/backboneTemplates/channel/channelInviteList" %>
    <%= render "spa/backboneTemplates/channel/channelSetting" %>
    <%= render "spa/backboneTemplates/channel/login" %>
    <%= render "spa/backboneTemplates/two_factor/twoFa" %>

    <%= render "spa/backboneTemplates/game/index"%>
    <%= render "spa/backboneTemplates/game/match"%>
    
    <%= render "spa/backboneTemplates/warContent" %>
    <%= render "spa/backboneTemplates/warHistory" %>

		<%= stylesheet_link_tag "simpleNotification.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
  </head>
  <body>
    <%= yield %>

    <!-- alert message -->
    <script>
    <% if flash[:alert] %>
      Helper.flash_message("danger", "<%=flash[:alert]%>");
    <% elsif flash[:notice] %>
      Helper.flash_message("success", "<%=flash[:notice]%>");
    <% end %>
    </script>

		<script src="../../javascript/lib/simpleNotification.min.js"></script>

		<!-- https://stackoverflow.com/questions/17622858/javascript-include-tag-rails-4-generating-javascripts-instead-of-assets-i -->
		<!-- https://github.com/rails/sprockets-rails/issues/458 -->
		<%= javascript_include_tag 'simpleNotification.min.js' %>
		<%= javascript_pack_tag 'application' %>
  </body>
</html>
