<!DOCTYPE html>
<html data-is-login="<%= user_signed_in? %>" <% if user_signed_in? %> data-user-id=<%= current_user[:id] %> <% end %> >
  <head>
    <title>42 Pong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "spa/backboneTemplates/friendsList"%>
    <%= render "spa/backboneTemplates/searchedUsersModal"%>
    <%= render "spa/backboneTemplates/gameContent"%>
    <%= render "spa/backboneTemplates/profile/profileContent"%>
    
    <%= render "spa/backboneTemplates/guildContent"%>
    <%= render "spa/backboneTemplates/login"%>
    <%= render "spa/backboneTemplates/navbarItems"%>
    <%= render "spa/backboneTemplates/navbarUser"%>
    <%= render "spa/backboneTemplates/userInfoModal"%>
    <%= render "spa/backboneTemplates/chat/chat" %>
    <%= render "spa/backboneTemplates/chat/messages" %>
    <%= render "spa/backboneTemplates/chat/members" %>
    <%= render "spa/backboneTemplates/channel/channelsList" %>



    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <!-- alert message -->
    <script>
    <% if flash[:alert] %>
      Helper.flash_message("danger", "<%=flash[:alert]%>");
    <% elsif flash[:notice] %>
      Helper.flash_message("success", "<%=flash[:notice]%>");
    <% end %>
    </script>

  </body>
</html>
