<!DOCTYPE html>
<html>
  <head>
    <title>42 Pong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "spa/backboneTemplates/channelsList"%>
    <%= render "spa/backboneTemplates/friendsList"%>
    <%= render "spa/backboneTemplates/friendsListModal"%>
    <%= render "spa/backboneTemplates/gameContent"%>
    <%= render "spa/backboneTemplates/profileContent"%>
    <%= render "spa/backboneTemplates/guildContent"%>
    <%= render "spa/backboneTemplates/login"%>
    <%= render "spa/backboneTemplates/navbarItems"%>
    <%= render "spa/backboneTemplates/navbarUser"%>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <!-- alert message -->
    <script>
    <% if flash[:alert] %>
        Helper.flash_message("danger", "<%=flash[:alert]%>");
    <% elsif flash[:notice] %>
      Helper.flash_message("success", "<%=flash[:notice]%>");
    <% end %>
    </script>

  </body>
</html>
