<script type="text/template" name="tmpl-tournament-page">
	<div id=tournament class="container-fluid">
		<div id="tournament-info"></div>
		<div id="tournament-participants"></div>
		<div id="tournament-tree"></div>	
	</div>
</script>

<script type="text/template" name="tmpl-tournament-participants">
	<div class="container box bg-white p-3">
		<h5 class="text-center">Participants</h5>
		<div class="d-flex justify-content-around">
      <%% for(let i = 0; i < 4; i++) { %>
        <div class="d-flex flex-column align-items-center tournament-bracket__code">
        <%% if (players[i]) { %>
          <img class="rounded-circle tournament-avatar" src="<%%= players[i].avatar_url %>">
          <%%= players[i].nickname %>
        <%% } else { %>
          <%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
        <%% } %>
        </div>
      <%% } %>
		</div>
		<div class="mt-4 text-center">
      <%% if(status === 0) { %>
        <%% if (_.find(players, (p) => { return p.user_id === $('html').data().userId })) { %>
        <button class="btn btn-danger" id="tournament-quit">Quit</button>
        <%% } else if (players.length < 4) { %>
        <button class="btn btn-primary" id="tournament-join">Join</button>
        <%% } %>
      <%% } %>
		</div>
	</div>
	<hr>
</script>


<script type="text/template" name="tmpl-tournament-info">
	<%% let str_status; let str_msg; %>
	<%% if (status === 0) { str_status = "Waiting"; str_msg = "Time left until registration"; } %>
	<%% if (status === 1) { str_status = "Semifinal"; str_msg = "Time left until Semifinal"; } %>
	<%% if (status === 2) { str_status = "Final"; str_msg = "Time left until Final"; } %>
	<%% if (status === 3) { str_status = "Finished"; str_msg = ""; }%>
	<div class="container box bg-white p-3">
		<h3><%%= name %> (<%%= str_status %>)</h3>
		<%%= str_msg %> <span class="oi oi-timer"></span> <span id="tournament-timer"></span>
    <!-- dummy test -->
    <%% if (status === 0) { %>
    <button id="tournament-dummy">create dummy</button>
    <%% } %>
	</div>
</script>



<script type="text/template" name="tmpl-tournament-tree">
  <div class="tournament-bracket tournament-bracket--rounded">                                                     
    <div class="tournament-bracket__round tournament-bracket__round--semifinals">
      <h3 class="tournament-bracket__round-title">Semifinal</h3>
      <ul class="tournament-bracket__list p-0">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" data-match-id="<%%= semiL ? semiL.id : '' %>">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column align-items-center">
                    <%% if (semiL) { %>
                    <abbr class="tournament-bracket__code"><%%= players[0].nickname %></abbr>
                		<img class="rounded-circle tournament-avatar" src="<%%= players[0].avatar_url %>" />
                    <%% } else { %>
				          	<%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
                    <%% } %>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%%= semiL && semiL.score_left ? semiL.score_left : 0 %></span>
                  </td>
                </tr>

                <tr class="tournament-bracket__team tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column align-items-center">
                    <%% if (semiL) { %>
                    <abbr class="tournament-bracket__code"><%%= players[1].nickname %></abbr>
                		<img class="rounded-circle tournament-avatar" src="<%%= players[1].avatar_url %>" />
                    <%% } else { %>
				          	<%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
                    <%% } %>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%%= semiL && semiL.score_right ? semiL.score_right : 0 %></span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </li>

        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" data-match-id="<%%= semiR ? semiR.id : '' %>">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column align-items-center">
                    <%% if (semiR) { %>
                    <abbr class="tournament-bracket__code"><%%= players[2].nickname %></abbr>
                		<img class="rounded-circle tournament-avatar" src="<%%= players[2].avatar_url %>" />
                    <%% } else { %>
				          	<%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
                    <%% } %>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%%= semiR && semiR.score_left ? semiR.score_left : 0 %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column align-items-center">
                    <%% if (semiR) { %>
                    <abbr class="tournament-bracket__code"><%%= players[3].nickname %></abbr>
                		<img class="rounded-circle tournament-avatar" src="<%%= players[3].avatar_url %>" />
                    <%% } else { %>
				          	<%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
                    <%% } %>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%%= semiR && semiR.score_right ? semiR.score_right : 0 %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--bronze">
      <h3 class="tournament-bracket__round-title">Final</h3>
      <ul class="tournament-bracket__list p-0">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" data-match-id="<%%= final ? final.id : '' %>">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column align-items-center">
                    <%% if (semiL && semiL.winner) { %>
                    <abbr class="tournament-bracket__code"><%%= semiL.winner.nickname %></abbr>
                		<img class="rounded-circle tournament-avatar" src="<%%= semiL.winner.avatar_url %>" />
                    <%% } else { %>
				          	<%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
                    <%% } %>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%%= final && final.score_left ? final.score_left : 0 %></span>
                    <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-label="Bronze medal"></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column align-items-center">
                    <%% if (semiR && semiR.winner) { %>
                    <abbr class="tournament-bracket__code"><%%= semiR.winner.nickname %></abbr>
                		<img class="rounded-circle tournament-avatar" src="<%%= semiR.winner.avatar_url %>" />
                    <%% } else { %>
				          	<%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
                    <%% } %>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%%= final && final.score_right ? final.score_right : 0 %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round">
      <h3 class="tournament-bracket__round-title">Winner</h3>
      <ul class="tournament-bracket__list p-0">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match align-items-center flex-column">
          <%% if (winner) { %>
          <abbr class="tournament-bracket__code"><%%= winner.nickname %></abbr>
          <img class="rounded-circle tournament-avatar" src="<%%= winner.avatar_url %>" />
          <%% } else { %>
          <%= image_tag("avatar.jpg", class: "rounded-circle tournament-avatar") %>					
          <%% } %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</script>


