<script type="text/template" name="tmpl-tournament-page">
	<div class="container-fluid">
		<div id="tournament-info"></div>
		<div id="tournament-participants"></div>
		<div id="tournament-tree"></div>	
	</div>
</script>

<script type="text/template" name="tmpl-tournament-participants">
	<div class="container box bg-white p-3">
		<h5 class="text-center">Participants</h5>
		<div class="d-flex justify-content-around">
			<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
			<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
			<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
			<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>
		</div>
		<div class="mt-4 text-center">
			<button class="btn btn-primary">Join</button>
			<button class="btn btn-danger">Cancel</button>
		</div>
	</div>
	<hr>
</script>


<script type="text/template" name="tmpl-tournament-info">
	<%% let str_status; %>
	<%% if (status === 0) str_status = "Waiting participants" %>
	<%% if (status === 1) str_status = "Started" %>
	<%% if (status === 2) str_status = "Finished" %>

	<div class="container box bg-white p-3">
		<h3><%%= name %> (<%%= str_status%>)</h3>
		Time left until registration <span class="oi oi-timer"></span> <span id="tournament-timer" data-sec="<%%= (new Date(registration_end) - new Date()) / 1000 >> 0%>"></span>
	</div>
</script>



<script type="text/template" name="tmpl-tournament-tree">
  <div class="tournament-bracket tournament-bracket--rounded">                                                     
    <div class="tournament-bracket__round tournament-bracket__round--semifinals">
      <h3 class="tournament-bracket__round-title">Semifinal</h3>
      <ul class="tournament-bracket__list p-0">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column">
                    <abbr class="tournament-bracket__code">Wpark</abbr>
					<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">1</span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__user flex-column">
                    <abbr class="tournament-bracket__code">Doby</abbr>
					<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">2</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>

        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column">
                    <abbr class="tournament-bracket__code">Wpark</abbr>
					<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">4</span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__user flex-column">
                    <abbr class="tournament-bracket__code">Wpark</abbr>
					<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">7</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--bronze">
      <h3 class="tournament-bracket__round-title">Final</h3>
      <ul class="tournament-bracket__list p-0">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>User</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__user flex-column">
                    <abbr class="tournament-bracket__code">Wpark</abbr>
					<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">3</span>
                    <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-label="Bronze medal"></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team">
                  <td class="tournament-bracket__user flex-column">
                    <abbr class="tournament-bracket__code">Wpark</abbr>
					<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">2</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--winner">
      <h3 class="tournament-bracket__round-title">Winner</h3>
      <ul class="tournament-bracket__list p-0">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match align-items-center flex-column">
				<abbr class="tournament-bracket__code">Wpark</abbr>
				<%= image_tag("avatar.webp", class: "rounded-circle tournament-avatar") %>					
          </div>
        </li>
      </ul>
    </div>
  </div>
</script>


<script type="text/template" name="tmpl-tournament-match">
	<%% if(match) { %>
		<li class="gameTour game-top 
			<%%= (match.winner == match.player_one.id ? 'winner' : '') %>">
			<%%= playerNames[match.player_one.id] %>
			<span><%%= match.player_one.points %></span>
		</li>
		<li class="gameTour game-spacer">
			<!-- &nbsp; -->
			<%% if(!match.winner) { %>
				<%% if(user_id == match.player_one.id || user_id == match.player_two.id) { %>
					<button id=start-match class="btn btn-success my-2" 
						data-match_id=<%%= match.id %>>Start</button>
				<%% } else { %>
					<button id=spectate-match class="btn btn-primary my-2" 
						data-match_id=<%%= match.id %>>Spectate</button>
				<%% } %>
			<%% } else { %>
				<li class="gameTour game-spacer">&nbsp;</li>
			<%% } %>
		</li>
		
		<li class="gameTour game-bottom 
			<%%= (match.winner == match.player_two.id ? 'winner' : '') %>">
			<%%= playerNames[match.player_two.id] %>
			<span><%%= match.player_two.points %></span>
		</li>
	<%% } else { %>
		<li class="gameTour game-top">
			<span></span>
		</li>
		<li class="gameTour game-spacer">&nbsp;</li>
		<li class="gameTour game-spacer">&nbsp;</li>
		<li class="gameTour game-bottom">
			<span></span>
		</li>
	<%% } %>
</script>

