<div id="app">
<% if !user_signed_in? %>
	<%= render "login" %>
<% elsif user_signed_in? && current_user.otp_required_for_login? && !user_session["otp_validated"] %>
	<%= render "otpPage" %>
<% else %>
	<%= render "navbar" %>

	<div class="container-fluid" id="content-wrapper">
		<div class="row h-100">
			<div class="col-md-8 border" id="view-content">
				<!-- view-content -->
			</div>
			<div class="col-md-4">
				<div class="row h-100">
					<%= render "channels" %>
					<%= render "friends" %>
				</div>
			</div>
		</div>
	</div>
	<%= render "spa/modal/userInfoModal" %>
	<%= render "spa/modal/searchUserModal" %>
	<%= render "spa/modal/searchBlockUserModal" %>
	<%= render "spa/modal/generateChannelModal" %>
	<%= render "spa/backboneTemplates/channel/searchChannelModal" %>
	<%= render "spa/backboneTemplates/channel/channelInviteModal" %>
	<%= render "spa/backboneTemplates/channel/channelPasswordModal" %>
	<%= render "spa/backboneTemplates/tournament/createTournamentModal" %>
<% end %>
</div>
